body {
    background-color: #e1ebd7;
}

img {
    width: 240px;
}

hr {
    width: 7%;
    border-style: none;
    border-top-style: dotted;
    border-color: silver;
    border-width: 9px;
}